.error_wid_login {
    background-color: #FFEBE8;
    border: 1px dashed #FF0000;
    color: #FF0000;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 6px;
	margin-left: 200px;
    width: 80%;
	clear:both !important;
}

.login_wid{
		list-style-type:none;
		/*border: 1px dashed #999999;*/
		width:98%;
		float:left;
		padding:5%;

	}
.login_wid li{
	width:98%;
	float:left;
	margin:2px;
}
.openid_social_login{
	padding:5px 0px 0px 0px;
	clear:both;
	width:100% !important;
}

.login_wid li input{
	width:85%;
	float:left;
	margin:2px;
}

.btn-fdefault {
	background: #7272dc;
	height:40px;
	padding:8px;
	text-align:center;
	color:#fff;
}

.mo_oauth_simple_modal {
            display: none;
            position: fixed;
            z-index: 10000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.6);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
.mo_oauth_simple_modal_content {
            background-color: #fff;
            margin: 5% auto;
            padding: 30px 40px;
            border-radius: 12px;
            max-width: 480px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.3);
            text-align: center;
            position: relative;
            color: #202124;
        }
.mo_oauth_simple_modal_content img {
            max-width: 100px;
            margin-bottom: 1px; 
        }
.mo_oauth_simple_modal_content p {
            font-size: 1.3em;
            margin-bottom: 30px;
        }
.mo_oauth_modal_confirm {
            font-size: 1.1em;
            font-weight: 700;
            padding: 10px 30px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            color: #fff;
            background-color: #1a73e8;
            transition: background-color 0.3s ease;
        }
.mo_oauth_modal_confirm:hover {
            background-color: #155ab6;
        }
.mo_oauth_modal_close {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 2.2em;
            font-weight: 700;
            color: #666;
            cursor: pointer;
            user-select: none;
            transition: color 0.3s ease;
        }
.mo_oauth_modal_close:hover {
            color: #000;
        }
.mo_oauth_modal_skip {
            background: none;
            border: none;
            color: #1a73e8;
			font-weight: bold;
            font-size: 1em;
            cursor: pointer;
            text-decoration: underline;
            padding: 0;
        }